#new-deals {

    padding: 2rem 0;
    font-family: 'DM Sans', sans-serif;

    h1 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        color: black;
    }

    p {
        font-family: 'DM Sans', sans-serif;
        color: #b8b8b8;
        padding: 0.5rem 0;
        margin-left: 1.5rem;
    }

    .deals-header {
        margin-bottom: 1rem;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
    }

}