#new-deals {

    padding: 2rem 0;
    font-family: 'DM Sans', sans-serif;

    h1 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        color: black;
    }

    h4 {
        font-family: 'DM Sans', sans-serif;
        color: #b8b8b8;
        padding: 0.5rem 0;
        margin-left: 1.5rem;
    }

    p {
        font-family: 'DM Sans', sans-serif;
        color: #b8b8b8;
        padding: 0.5rem 0;
    }

    .deals-header {
        margin-bottom: 1rem;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
    }

    .ld-cta {
        padding-top: 2.5rem;
        a {
            width: 100%;
            text-align: center;
            font-family: 'DM Sans', sans-serif;
        }
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        margin-top: 1.4rem;

        .card {
            border-radius: 4px;
            border: 1px solid black;
            .card-top {
                height: 300px;
                overflow: hidden;
                border-bottom: 1px solid black;
                img {
                    width: auto;
                    margin: auto;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            .card-body {
                padding: 1rem 1.5rem;
                .card-title {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }

    }

}
