#terms-and-conditions {

    padding: 2rem;
    font-family: 'DM Sans', sans-serif;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1.5rem;
    }

    ul {
        margin-bottom: 1.5rem;

        li {
            margin-bottom: 0.5rem;
        }
    }
}

#privacy-policy {

    padding: 2rem;
    font-family: 'DM Sans', sans-serif;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1.5rem;
    }

    ul {
        margin-bottom: 1.5rem;

        li {
            margin-bottom: 0.5rem;
        }
    }
}