#hero {
    display: flex;
    align-items: center;
    min-height: 600px;
    padding: 2rem;
    font-family: 'DM Sans', sans-serif;

    .col-auto {
        h1 {
            font-size: 4rem;
            font-weight: 700;
            letter-spacing: -0.15rem;
            color: black;
            line-height: 4.50rem;
        }
        .hero-cta {
            margin: 2rem 0;

            a {
                text-decoration: none;
                margin-right: 1rem;
            }
        }
    }
}

#hero-byline {
    
    padding: 3rem 0;
    background-color: black;

    h1 {
        font-family: 'DM Sans', sans-serif;
        font-size: 1.25rem;
        font-weight: 500;
        margin: 0;
        color: white;
    }

    p {
        font-family: 'DM Sans', sans-serif;
        color: white;
        padding-top: 0.5rem;
        margin-bottom: 0;
        font-size: 1rem;
    }

    .fa, .fas {
        font-weight: 600;
        font-size: 1.20rem;
        margin-right: 1rem;
        color: white;
    }

    .byline-icon {
        margin-right: 1rem;
    }

    .byline-text {
        margin-left: 0.8rem;
    }
    
}

#product-categories {

    padding-top: 3rem;

    h1 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        letter-spacing: -0.06rem;
        font-size: 1.5rem;
        color: black;
    }

    p {
        font-family: 'DM Sans', sans-serif;
        color: #b8b8b8;
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    .row {
        display: flex;
        padding: 2rem;

        .col:nth-child(1) {
            border-left: none;
        }

        .col {
            padding: 1rem;
            border-left: 1px solid #f2f2f2;
            align-items: center;
            justify-content: center;
            display: flex;

            .fa, .fas {
                font-weight: 900;
                font-size: 1.5rem;
                padding-bottom: 0.5rem;
                text-align: center;
                color: black;
            }

            h3 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 500;
                font-size: 1rem;
                color: black;
            }

            a {
                text-align: center;
            }

            a:hover {
                color: black;
                text-decoration: none;
            }
        }
    }
}

#latest-deals {

    padding-top: 2rem;
    padding-bottom: 3rem;

    h1 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        letter-spacing: -0.06rem;
        font-size: 1.5rem;
        color: black;
    }

    p {
        font-family: 'DM Sans', sans-serif;
        color: #b8b8b8;
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    .ld-cta {
        padding-top: 2.5rem;
        a {
            width: 100%;
            text-align: center;
            font-family: 'DM Sans', sans-serif;
        }
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        margin-top: 1.4rem;

        .card {
            border-radius: 4px;
            border: 1px solid black;
            .card-top {
                height: 300px;
                overflow: hidden;
                border-bottom: 1px solid black;
                img {
                    width: auto;
                    margin: auto;
                    max-width: 100%;
                }
            }
            .card-body {
                padding: 1rem 1.5rem;
                .card-title {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }
        }

    }

}

@media (max-width: 771px) {

    #hero {
        min-height: 100vh;
        padding: 2rem 0;

        h1 {
            text-align: center;
            font-size: 3rem;
        }
        .hero-cta {
    
            display: flex;
            align-items: center;
            justify-content: center;
    
            a:nth-child(1) {
                margin: 0.5rem;
                padding: 0.8rem;
            }
            a:nth-child(2) {
                margin: 0.5rem;
                padding: 0.8rem;
            }
        }
        img {
            padding: 2rem;
        }
    }

    #hero-byline {
    
        padding: 2rem;
        background-color: black;

        .d-flex {
            display: none;
        }
    
        h1 {
            font-size: 1.25rem;

        }
        p {
            font-family: 'DM Sans', sans-serif;
            color: white;
            padding-top: 0.25rem;
            margin-bottom: 0;
        }
        .fa, .fas {
            font-weight: 900;
            font-size: 1.5rem;
            color: white;
        }
        .byline-icon {
            margin-right: 1rem;
        }
        .byline-text {
            margin-left: 0.8rem;
        }
    }

    #latest-deals {
        padding: 1rem;
    
        .col-lg-3 {
            border: 1px solid black;
            border-radius: 4px;
            padding: 1rem;
            margin: 1rem;
        }
    
        .wrapper {
            grid-template-columns: repeat(1, 1fr);
            display: grid;
            column-gap: 1rem;
        }
    
        .card {
    
            border-radius: 4px;
            margin-bottom: 1rem;
            background: white;
            border: 1px solid black;
    
            h5 {
                margin-top: 0.3rem;
                color: black;
                font-weight: bold;
            }
    
            span {
                color: black;
                font-weight: 500;
                font-family: 'DM Sans', sans-serif;
            }
    
            .card-top {
                position: relative;
    
                p {
                    position: absolute;
                    padding: 0.5rem;
                    background-color: black;
                    color: white;
                    border-radius: 4px;
                    margin: 0.8rem;
                    font-size: 0.7rem;
                }
            }
    
            .card-img-top {
                border-bottom: 1px solid black;
            }
    
            .card-body {
                padding: 1rem;
            }
        }
    
    
        h1 {
            font-family: 'DM Sans', sans-serif;
            font-weight: 600;
            font-size: 1.5rem;            
            color: black;
        }
    
        a {
            font-family: 'DM Sans', sans-serif;
            color: black;
            margin-bottom: 1rem;
            text-decoration: none;
        }
    
        p {
            font-family: 'DM Sans', sans-serif;
            color: #b8b8b8;
        }
    
    }

    #about {

        padding: 1rem;
    
        h1 {
            font-size: 1.25rem;
            text-align: center;           
        }

        p {
            text-align: center;
        }
    
        .row {
            padding-top: 1rem;
    
            .card {
                margin-bottom: 1.5rem;
            }
        }
        
        .cta-footer {
            padding: 0;
    
            a {
                width: 100%;
                margin: 0;
                text-align: center;
                margin-bottom: 1rem;
            }
        }
    }

    .cat-selector {

        .cat-item {
            background: #f2f2f2;
            border-radius: 4px;
            text-align: center;
            padding: 2rem;
        }

        .cat-item:nth-child(1) {
            background: white;
            border: 1px solid black;
            color: black;
        }


        a, h3 {
            margin-bottom: 0;
            font-family: 'DM Sans', sans-serif;
            font-weight: 600;
            font-size: 0.6rem;
        }

        .fa, .fas {
            font-weight: 900;
            font-size: 1.25rem;
            padding-bottom: 0.5rem;
        }

    }

}

